@import 'stylesheets/variables';

.app-Panel {
  background-color: #FFF;
  box-shadow: $shadow;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  max-width: 1145px;
  overflow: hidden;
  position: relative;

  @include breakpoint(small) {
    flex-flow: column;
  };

  &-container {
    padding: 10px 30px 30px;
    width: 100%;

    @include breakpoint(small) {
      order: 2;
      padding: 10px;
    }
  }

  &-sidebar {
    background-color: $brown;
    color: $white;
    min-width: 240px;
    padding: 10px;
  }

}
