@import 'stylesheets/variables';

.app-Panel {
  background-color: #FFF;
  box-shadow: $shadow;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  max-width: 1145px;
  position: relative;

  @include breakpoint(small) {
    flex-flow: column;
  };

  &-container {
    flex-grow: 3;
    padding: 10px;

    @include breakpoint(small) {
      order: 2;
    }
  }

  &-sidebar {
    background-color: $brown;
    color: $white;
    flex-grow: 1;
    padding: 10px;
  }

}
