.app-Button-primary, .app-Button-secondary, .app-Button-tertiary {
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 0.75em 2em;
  transition: filter 0.2s linear;
  height: 48px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0; }
  .app-Button-primary:hover:enabled, .app-Button-secondary:hover:enabled, .app-Button-tertiary:hover:enabled {
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2)); }
  .app-Button-primary:disabled, .app-Button-secondary:disabled, .app-Button-tertiary:disabled {
    cursor: default; }

.app-Button-primary {
  background-color: #947158;
  color: #FFF; }
  .app-Button-primary:active {
    background-color: #84654e; }
  .app-Button-primary:disabled {
    background-color: #c4c4c4; }

.app-Button-secondary {
  background-color: #f2f2f2;
  color: #000; }
  .app-Button-secondary:active {
    background-color: #f2f2f2; }

.app-Button-tertiary {
  background-color: transparent;
  border: 1px solid #FFF;
  color: #000;
  flex-grow: 1;
  transition: all 0.15s ease-in-out; }
  .app-Button-tertiary:hover {
    background-color: #FFF;
    color: #000;
    filter: none; }
.app-Dashboard {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-flow: row;
  margin: 30px;
  overflow: hidden; }
  .app-Dashboard > div {
    margin: 0 15px; }
    .app-Dashboard > div:first-child {
      margin-left: 0; }
      @media (max-width: 1067px) {
        .app-Dashboard > div:first-child {
          margin: 0 auto 5px; } }
    .app-Dashboard > div:last-child {
      margin-right: 0; }
      @media (max-width: 1067px) {
        .app-Dashboard > div:last-child {
          margin: 5px auto 0; } }
    @media (max-width: 1067px) {
      .app-Dashboard > div {
        margin: 5px auto;
        width: calc(100% - 2em); } }
  @media (max-width: 1067px) {
    .app-Dashboard {
      margin: 10px;
      flex-flow: column; } }
.app-Footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  background-color: #947158;
  color: #fff;
  padding: 0 10px; }
  .app-Footer-content {
    margin: 10px auto;
    max-width: 1185px;
    position: relative; }
    .app-Footer-content-copy {
      display: block;
      font-size: 0.75rem;
      margin-left: auto;
      position: absolute;
      right: 20px;
      top: 3px; }
      @media (max-width: 767px) {
        .app-Footer-content-copy {
          right: 5px; } }
    .app-Footer-content-social {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 20px;
      max-width: 160px; }
      @media (max-width: 767px) {
        .app-Footer-content-social {
          margin-left: 0; } }
      .app-Footer-content-social > a {
        max-height: 20px; }
        .app-Footer-content-social > a > svg {
          cursor: pointer;
          fill: #FFF;
          transition: filter 0.2s linear;
          width: 20px; }
          .app-Footer-content-social > a > svg:hover {
            filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2)); }
.app-Translate {
  padding: 0; }
.app-Header-top {
  color: #FFF;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  max-width: 1145px;
  position: relative; }
  @media (max-width: 767px) {
    .app-Header-top {
      flex-flow: column; } }

.app-Header-nav {
  background-color: #947158;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  max-width: 1145px;
  position: relative; }

.app-Header .app-Header-link, .app-Header .app-Header-link-active {
  border: 0;
  color: #FFF;
  cursor: pointer;
  flex-grow: 1;
  font-size: 1rem;
  outline: none;
  padding: 0.75em 0.2em;
  text-align: center;
  text-decoration: none; }

.app-Header-link {
  background-color: #947158; }
  .app-Header-link-active {
    background-color: #84654e; }

.app-Header-container {
  background-attachment: fixed;
  background-image: url(521ee4d29c1ff7a6d6ba3bf3e78c4a7c.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 10px 30px 30px;
  text-align: center;
  width: 100%; }
  @media (max-width: 767px) {
    .app-Header-container {
      padding: 30px;
      width: calc(100% - 60px); } }
  .app-Header-container > h1 {
    margin: 10px 0; }
  .app-Header-container > h3 {
    margin-top: 0; }
  .app-Header-container > button {
    width: 300px; }

.app-Header-logo {
  margin: 15px auto 0;
  position: relative;
  width: 75px; }
  .app-Header-logo > img {
    left: 0;
    position: absolute;
    top: 0;
    width: 78px; }
.app-Hero {
  align-items: center;
  background-size: cover;
  display: flex;
  margin: 60px 0 10px;
  position: relative; }
  @media (max-width: 767px) {
    .app-Hero {
      margin-top: 10px; } }
  .app-Hero h3 {
    text-align: left; }
  .app-Hero-text {
    font-size: 0.8em;
    padding-left: 30px;
    width: 60%; }
    @media (max-width: 767px) {
      .app-Hero-text {
        padding: 0 15px;
        width: 100%; }
        .app-Hero-text p {
          font-size: 1em; } }
    .app-Hero-text p {
      font-size: 1.1em; }
    .app-Hero-text hr {
      border: 1px solid #947158; }
  .app-Hero-icon {
    display: block;
    flex-grow: 1; }
    @media (max-width: 767px) {
      .app-Hero-icon {
        display: none; } }
    .app-Hero-icon img {
      bottom: -5px;
      margin-left: auto;
      margin-right: auto;
      max-width: 250px;
      position: absolute;
      right: -10px; }
.app-Input {
  margin: 0 0 5px; }
  .app-Input > input {
    width: calc(100% - 12px); }
  .app-Input-label, .app-Input-label-disabled {
    border-bottom: 1px solid #947158;
    color: #947158;
    font-size: 0.8em; }
    .app-Input-label-disabled {
      border-bottom: 1px solid #666;
      color: #666; }
  .app-Input-field, .app-Input-field-disabled {
    border: 1px solid #bfa593;
    font-size: 1em;
    height: 46px;
    margin-top: 5px;
    padding: 0 5px;
    text-align: center;
    transition: all 0.15s ease-in-out; }
    .app-Input-field-disabled {
      border: 1px dashed #666;
      background-color: #F7F7F7; }
    .app-Input-field:focus, .app-Input-field-disabled:focus {
      border: 1px solid #947158;
      outline: none; }
.app-Note, .app-Note-warning {
  display: inline-block;
  border-top: 1px solid #bfa593;
  border-bottom: 1px solid #bfa593;
  max-width: calc(100% - 0.2em);
  margin: 5px 0;
  color: #666;
  font-size: 0.8em;
  padding: 0.2em; }

.app-Note-warning {
  border: 2px solid #ffff00;
  text-align: center;
  color: #000;
  background-color: #ffff99; }
.app-Page {
  background-color: #FFF;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 1145px;
  position: relative;
  overflow: hidden; }
  .app-Page-content {
    width: 100%; }
    @media (max-width: 767px) {
      .app-Page-content {
        order: 2;
        width: 100%; } }
.app-Text {
  margin: 0 auto;
  max-width: 480px; }
.app-SignIn {
  background-color: #F7F7F7;
  font-size: 0.8em;
  margin: 10px auto;
  max-width: calc(100% - 20px);
  padding: 0 10px;
  text-align: left; }
  @media (max-width: 767px) {
    .app-SignIn {
      margin: 0 auto;
      max-width: 450px; } }
  .app-SignIn-button {
    width: 100%; }
  .app-SignIn-inputGroup {
    border-top: 1px solid #947158;
    text-align: center; }
  .app-SignIn-link {
    background-color: transparent;
    border: 1px solid #947158;
    color: #947158;
    cursor: pointer;
    display: block;
    flex-grow: 1;
    font-size: 1rem;
    margin-bottom: 10px;
    outline: none;
    padding: 0.75em 0.2em;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    font-weight: 400; }
    .app-SignIn-link:hover {
      background-color: #947158;
      color: #FFF; }
  .app-SignIn-status {
    border-top: 1px solid #947158;
    margin: 10px 0;
    padding: 5px; }
.app-SignUp {
  background-color: #F7F7F7;
  font-size: 0.8em;
  max-width: 400px;
  padding: 10px 0  10px 10px;
  text-align: left;
  width: calc(100% - 20px); }
  @media (max-width: 767px) {
    .app-SignUp {
      margin: 0 auto;
      max-width: 450px; } }
  .app-SignUp-button {
    width: 100%; }
  .app-SignUp-inputGroup {
    border-top: 1px solid #947158;
    text-align: center; }
  .app-SignUp-link {
    background-color: transparent;
    border: 1px solid #947158;
    color: #947158;
    cursor: pointer;
    display: block;
    flex-grow: 1;
    font-size: 1rem;
    margin-bottom: 10px;
    outline: none;
    padding: 0.75em 0.2em;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    font-weight: 400; }
    .app-SignUp-link:hover {
      background-color: #947158;
      color: #FFF; }
  .app-SignUp-status {
    border-top: 1px solid #947158;
    margin: 10px 0;
    padding: 5px; }
.app-Panel {
  background-color: #FFF;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 1145px;
  position: relative; }
  .app-Panel-container {
    display: flex;
    flex-flow: row; }
    @media (max-width: 767px) {
      .app-Panel-container {
        flex-flow: column; } }
  .app-Panel-content {
    padding: 10px 30px 30px;
    width: calc(100% - 60px); }
    @media (max-width: 767px) {
      .app-Panel-content {
        order: 2;
        padding: 10px;
        width: calc(100% - 20px); } }
  .app-Panel-sidebar {
    background-color: #f7f7f7;
    color: #000;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    overflow: hidden;
    width: 300px; }
    @media (max-width: 767px) {
      .app-Panel-sidebar {
        margin-top: 50px;
        max-width: 480px;
        width: calc(100% - 10px); } }
    .app-Panel-sidebar iframe {
      margin-bottom: -5px;
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 20px); }
    .app-Panel-sidebar-link {
      background-color: transparent;
      border: 1px solid #947158;
      color: #947158;
      cursor: pointer;
      display: block;
      flex-grow: 1;
      font-size: 1rem;
      margin: 10px;
      outline: none;
      padding: 0.75em 0.2em;
      text-align: center;
      text-decoration: none;
      transition: all 0.15s ease-in-out;
      font-weight: 400; }
      .app-Panel-sidebar-link:hover {
        background-color: #947158;
        color: #FFF; }
    .app-Panel-sidebar-button {
      background-color: transparent;
      border: 1px solid #947158;
      color: #947158;
      cursor: pointer;
      display: block;
      flex-grow: 1;
      font-size: 1rem;
      margin: 10px;
      outline: none;
      padding: 0.75em 0.2em;
      text-align: center;
      text-decoration: none;
      transition: all 0.15s ease-in-out;
      width: calc(100% - 20px);
      height: 48px;
      box-sizing: border-box;
      font-weight: 400; }
      .app-Panel-sidebar-button:hover {
        background-color: #947158;
        color: #FFF; }
    .app-Panel-sidebar-auth {
      border-bottom: 1px solid #947158;
      color: #947158;
      display: inline-block;
      font-size: 1em;
      margin: 10px 0 auto; }
.app-Section, .app-Section-grow {
  background-color: #F7F7F7;
  padding: 2.5em 1em 1em;
  position: relative;
  display: block;
  overflow: hidden; }

.app-Section {
  flex: 1 300px; }
  .app-Section-grow {
    flex: 2 300px; }
  .app-Section-title {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding: 0.2em 0;
    width: 100%;
    background-color: #DDD; }
.app-Snippet {
  margin: 0 auto;
  max-width: 480px; }
  .app-Snippet h3 {
    text-align: left; }
