@import 'stylesheets/variables/breakpoints';
@import 'stylesheets/variables/colors';
@import 'stylesheets/variables/fonts';

$shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
$shadow-center: 0 0 2px 0 rgba(0,0,0,0.2);
$shadow-filter: 5px 5px 2px rgba(0,0,0,0.2);
