@import 'stylesheets/variables';

.app-Footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background-color: $red;
  color: #fff;

  &-content {
    margin: 20px;
    position: relative;

    &-copy {
      display: block;
      font-size: $font-paragraph-s;
      margin-left: auto;
      position: absolute;
      right: 0;
      top: 0;
    }

    &-social {
      max-width: 160px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & a {
        max-height: 20px;

        & svg {
          fill: #fff;
          width: 20px;
          cursor: pointer;
          transition: filter 0.2s linear;

          &:hover {
            filter: drop-shadow($shadow-filter);
          }
        }
      }
    }
  }
}
