@import 'stylesheets/variables';

html {
  background-color: $brown;
  height: 100%;
}

body {
  background-image: url('assets/wood.jpg');
  background-repeat: repeat;
  font-family: $font-usual;
  font-size: $font-paragraph-m;
  font-weight: 200;
  margin: 0;
  min-height: calc(100vh - 80px);
  padding-bottom: 80px;
  position: relative;
}

h1 {
  font-family: $font-paralucent;
  font-size: $font-heading-l;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-family: $font-paralucent;
  font-size: $font-heading-s;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-family: $font-paralucent;
  font-size: $font-paragraph-l;
  font-weight: 300;
  text-align: center;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

.app {
  margin: 0 2em 2em;

  @include breakpoint(small) {
    margin: 0;
  };
}

#root {
  height: 100%;
  padding-top: 2em;

  @include breakpoint(small) {
    padding-top: 0;
  };
}
