<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#FF9978">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="United Brotherhood of Carpenter's Local 197 website.">
    <title><%= htmlWebpackPlugin.options.title || 'UBC Local 197 | DC, Maryland, &amp; VA' %></title>
  </head>
  <body ontouchstart>
    <div id="root"></div>
  </body>
</html>
